/* loader css */

.loader .overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
.loader .show{
     display: inline-block;
}

a.nav-link.selected{
  color: darkcyan;
  font-weight: 800;
}

/* header css */
.sidebar-height{
  height: calc(100vh - 56px);
}

/* login page css */
.login-container{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(https://paris.architectatwork.fr/gfx/login/liquifi.background.blue.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.logincomp{
  width: 100%;
  max-width: 430px !important;
  padding: 15px;
  margin: auto;
  border: 1px solid darkgray;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.322);
}